p, h3 {
	margin-left: 20px;
}

.container {
	list-style: none;
	padding: 0;
	background-color: darkcyan;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}

a {
	color: DarkGreen;
}

.container a {
	text-decoration: none;
	padding: 15px;
	color: white;
}

.container a:hover{
	background-color: cadetblue;
}

#contact a{
	color: red;
}

@media all and (max-width: 800px) { 
	.container{
		justify-content: space-evenly;
	}
}  

@media all and (max-width: 600px) { 
	.container{
		flex-direction: column;
		justify-content: flex-start;
	}
	.container a{
		text-align: center;
		border-bottom: 1px solid RGBA(200,255,255,0.25);
	}
	h3{
		text-align: center;
	}
}



